body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(15, 15, 15);
    padding: 2%;
}

nav{
    display: flex;
}

h1{
    font-size: 40px;
}

#titulo{
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 30%;
}

#iconos{
    color: white;
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

#contenido{
    padding-left: 10%;
    padding-top: 10%;
}

a{
    text-decoration: none;
    color: rgb(0, 89, 255);
}

p{
    font-size: 20px;
}