body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: white;
}

header {
    width: 57,5vw;
    height: 20vw;
    background-image: url(img/nIke-logo.jpg);
    background-size: contain;
    padding: 20vw;
}

div.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-image: url(img/nIke-logo.jpg);
    width: 57,5vw;
    height: 5vw;
}

.cabecera {
    margin: 0px;
    
    text-decoration: none;
}

.cabecera li {
    font-size: 28pt;
    list-style: none;
    display: inline;
    text-decoration: none;
    color: orange;}

.cabecera a {
    text-decoration: none;
    color: orange;
}

article {
    height: 30vw;
    padding: 15vw;
    padding-top: 50px;
    padding-left: 100px;
}

h1 {
    color: black;
    font-size: 50pt;
    font-weight: lighter;
    line-height: 1;
}

h2 {
    color: orange;
    font-size: 15pt;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: -2;
}

p{
    color: black;
    font-size: 15pt;
    font-weight: lighter;
}


footer{
    height: 100vh;
    background-color: black;

}

.abajo {
    list-style: none;
    font-weight: 15vw;
    padding: 15vw;
    margin: 0px;
}

.abajo a{
    text-decoration: none;
    color: orange;
}

.abajo li{
    color: orange;
    padding: 10px;
    font-size: 22px;
}




